@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #59848B;
}


/*nav*/
nav {
    float: right;
    margin: 20px;
    margin-top: 20px;
}


li {
    list-style-type: none;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    padding: 10px;
}

a:link,
a:visited,
a:active {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(224, 224, 224);
}




/*logo animation*/
.container {
    perspective: 1;
    position: absolute;
    margin-left: 10vw;
    margin-top: 3.5vh;
}

.container:hover .hover-animation {
    transform: rotateY(180deg);
}

.hover-animation {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.logo-front,
.logo-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-front {
    background: no-repeat center;
    z-index: 2;
}

.logo-back {
    background: no-repeat center;
    transform: rotateY(180deg);
    left: -60px;
}

/*logo animation end*/
/*nav*/

 .presentation {
     display: flex;
     width: 90%;
     margin: auto;
     min-height: 80vh;
     align-items: center;
 }

 .introduction {
     flex: 1;
 }

 .intro-text h1 {
     font-size: 4.5vh;
     color: rgb(236, 229, 229);
     font-family: 'Oxygen', sans-serif;
     line-height: 1.5;
     animation: drop 0.5s ease;
     position: relative;
     left: 10vh;
    }

 .intro-text p {
     margin-top: 55px;
     font-size: 2.1vh;
     color: rgb(236, 229, 229);
     font-family: 'Merriweather', serif;
     line-height: 2.3;
     animation: drop 1.7s ease;
     position: relative;
     left: 10vh;
 }
 
 .content {
     flex: 1;
 }

 .content img {
     height: 65vh;
     filter: drop-shadow(0px 8px 8px black);
     animation: drop 2s ease;
     right: -8vh;
     position: relative;
 }

 @keyframes drop {
     0% {
         opacity: 0;
         transform: translateY(-18px);
     }

     100% {
         opacity: 1;
         transform: translateY(0px);
     }
 }

.circle {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: -1;
    opacity: 0.6;
    height: 70%;
}

.circle2 {
    position: absolute;
    top: 27.5%;
    right: 35.8%;
    z-index: -1;
    height: 68%;
    opacity: 0.4;
}

.circle3 {
    position: absolute;
    top: 50%;
    right: 70%;
    z-index: -1;
    height: 50%;
    opacity: 0.3;
}

footer {
    color: rgba(236, 229, 229, 0.388);
    padding: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 105px;
}

footer span {
    padding: 5px;
}





@media screen and (max-width: 1400px) and (min-width: 1350px)  {

    .content img {
        height: 50vh;
        right: -6.5vh;
    }
}

@media screen and (max-width: 1349px) and (min-width: 1025px)  {

    .intro-text h1 {
        font-size: 4.2vh;
        line-height: 1.3;
        left: 5.5vh;
       }
   
    .intro-text p {
        font-size: 1.9vh;
        line-height: 1.7;
        left: 5.5vh;
    }

    .content img {
        height: 45vh;
        right: -5.5vh;
    }
}


@media screen and (max-width: 1024px ) {
    .presentation {
        flex-direction: column;
    }
    .introuction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 35px;
        left: 0;
    }
    .intro-text p {
        font-size: 18px;
        left: 0;
    }

    .content img {
        height: 60vh;
        right: 0;
    }
    .circle, .circle2, .circle3 {
        opacity: 0;
    }

    footer {
        text-align: center;
        margin-left: 0;
    }

}


/* about me page */
.about {
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 13vh;
}

.col-4 img{
    height: 63vh;
}

.intro_self {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 5vh;
}

.intro_self h1, h2 {
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.intro_self h2 {
    color: rgb(236, 229, 229);
    font-size: 1.8em;
}

.intro_self h1 {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
}

.row {
    position: relative;
    top: 10vh;
}

.row p {
    color: rgba(236, 229, 229, 0.801);
    font-size: 25px;
    margin-left: -7vw;
    max-width: 55vw;
    max-height: 75vh;
}

